name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

env:
  DUNE_PROFILE: release
  OCAMLRUNPARAM: b

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
        ocaml-compiler:
          - 4.14.0
          - 5.4.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Load opam cache when not Windows
        if: runner.os != 'Windows'
        id: opam-cache
        uses: actions/cache/restore@v3
        with:
          path: ~/.opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Load opam cache when Windows
        if: runner.os == 'Windows'
        id: opam-cache-windows
        uses: actions/cache/restore@v3
        with:
          path: _opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          opam-disable-sandboxing: true

      - name: Install deps
        run: make install

      - name: Build
        run: make build

      - name: Check formatting
        run: make format-check

      - name: Run tests
        run: make test

      - name: Generate docs
        if: github.ref == 'refs/heads/main'
        run: make documentation

      - name: Publish docs
        uses: crazy-max/ghaction-github-pages@v1
        if: github.ref == 'refs/heads/main'
        with:
          target_branch: gh-pages
          build_dir: _build/default/_doc_new/html
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Save cache when not Windows
        uses: actions/cache/save@v3
        if: steps.opam-cache.outputs.cache-hit != 'true' && runner.os != 'Windows'
        with:
          path: ~/.opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Save cache when Windows
        uses: actions/cache/save@v3
        if: steps.opam-cache-windows.outputs.cache-hit != 'true' && runner.os == 'Windows'
        with:
          path: _opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Install dune-release
        if: startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest' && matrix.ocaml-compiler == '5.4.0'
        run: opam install dune-release -y

      - name: Release
        uses: davesnx/dune-release-action@v0.2.3
        if: startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest' && matrix.ocaml-compiler == '5.4.0'
        with:
          packages: 'quickjs'
          changelog: './CHANGES.md'
          github-token: ${{ secrets.GH_TOKEN }}
          include-submodules: true
